@page "/randomActivity"
@using Bored.Models
@using Bored.Services.ExternalClients
@rendermode InteractiveServer

@inject IBoredApiService BoredApiService

<h3>RandomActivity</h3>
<RandomActivityButton OnActivityChanged="staging => _randomActivity = staging " />
<p class="text-blue">@_randomActivity?.Activity</p>

@code {
    private ActivityStaging? _randomActivity;
    
    protected override async Task OnInitializedAsync()
    {
        _randomActivity = await BoredApiService.GetActivity();
    }
}