@using Bored.Models
@using Bored.Services.ExternalClients
@inject HttpClient Http
@inject IBoredApiService BoredApiService

<button @onclick="GetRandom">Random 🚀</button>
@code {
    
    [Parameter]
    public EventCallback<ActivityStaging?> OnActivityChanged { get; set; }

    private async Task GetRandom()
    {
        Console.WriteLine("Random Activity Button Clicked!");
        //_randomActivity = await Http.GetFromJsonAsync<ActivityStaging>("https://www.boredapi.com/api/activity");
        var randomActivity = await BoredApiService.GetActivity();
        await OnActivityChanged.InvokeAsync(randomActivity);
    }
}